html {height: 100%;}


body{height: 100%;}
.row1  {

    
    background-color: white;
    display:grid;
    grid-template-columns: repeat(4,1fr)
}

.row2 {

    background-color: white;
    display:grid;
    grid-template-columns: repeat(4,1fr)
}

.row3{

    background-color: white;
    display:grid;
    grid-template-columns: repeat(4,1fr)
}

.calc_line1{

    background-color: white;
    
    grid-template-columns: repeat(4,1fr);
    display: grid;
    }

    .result_row{
     
        background-color: white;
        display: grid
        ;
        grid-template-columns: repeat(4,1fr) ;
    }


    .big_calc{display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;}

        button{height: 50px;
        width: 50px;}

        .egal {grid-column: 3/5;}
        #egal {width: 100%;}

        .result {grid-column: 3/5;}
        #result {width: 100%;}

        .divide {grid-column: 1/3;}

        #divide {width: 100%;}